@font-face {
    font-family: PaulFont;
    src: url(../font/FREESCPT.TTF);
}

body {
  background:#060606;
  line-height: 7px;
}
h1 {
  color:white;
  text-align:center;
  margin-top: 40vh;
}
h3 {
  color:white;
  text-align:center;
  margin:0px;
  padding:0px;
}

#sign {  
  font-family: PaulFont;
  font-size:48px;
}
